<section class="blog_area_two  service_item">
<table class="table table-condensed" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Id</th>
            <th>Due Date</th>
            <th>Grand Total</th>
            <th>Status</th>
            <th>Outstanding Amount</th>
        </tr>
    </thead>
    <tbody class="panel">
        {% for invoice in invoices %}
        <tr data-toggle="collapse" data-target="#demo{{loop.index}}" data-parent="#myTable" style="cursor: pointer;">
            <td>{{loop.index}}</td>
            <td>{{invoice.posting_date}}</td>
            <td>{{invoice.name}}</td>
            <td>{{invoice.due_date}}</td>
            <td>{{invoice.grand_total}}</td>
            <td>{{invoice.status}}</td>
            <td>{{invoice.outstanding_amount}}</td>
        </tr>
        <tr id="demo{{loop.index}}" class="collapse">
            <td colspan="6" class="hiddenRow">
                <button type="button" class="btn btn-primary">Make Payment</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>