<section class="blog_area_two  service_item">
    <div class="alert alert-primary" role="alert">
        Please submit your documents
      </div>
            <div class="alert alert-success" role="alert">
                Successfully paid the last month bill.
      </div>
      <div class="alert alert-danger" role="alert">
        Your last month bill is still pending
      </div>
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">KYC expiring soon!</h4>
        <p style="color: inherit;">Your KYC is going to expire soon.</p>
        <hr>
        <p style="color: inherit;" class="mb-0">As per the TRAI you have to be KYC verified or your account will get deactivated.</p>
      </div>
      
</section>