<section class="blog_area_two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p0 blog_grid_info">
                <div class="row">
                    <div class="col-lg-6 p0 pr_20">
                        <div class="mb_20 blog_list_item_two">
                            <div class="service_item">
                                <div class="icon s_icon_four"><i class="ti-stats-up"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Total Billed<br> Amount</h4>
                                <h4 class="f_600 f_size_20 l_height28 mb_20">$100.00</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 p0 pr_20">
                        <div class="mb_20 blog_list_item_two">
                            <div class="service_item">
                                <div class="icon s_icon_one"><i class="ti-check"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Total Unpaid<br> Amount</h4>
                                <h4 class="f_600 f_size_20 l_height28 mb_20">$100.00</h4>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 p0 pr_20">
                        <div class="mb_20 blog_list_item_two">
                            <div class="service_item">
                                <div id="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p0 pr_20">
                        <div class="mb_20 blog_list_item_two">
                            <div class="service_item">
                                <div id="chart1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p0 pr_20">
                        <div class="mb_20 blog_list_item_two">
                            <div class="service_item">
                                <div id="chart2"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>