{% extends "templates/web.html" %}

{% block title %} L3Harris {% endblock %}

{% block page_content %}

<section class="erp_banner_area_two">
  <ul class="list-unstyled cloud_animation">
      <li><img src="/assets/l3harris/img/erp-home/cloud_01.png" alt=""></li>
      <li><img src="/assets/l3harris/img/erp-home/cloud_02.png" alt=""></li>
      <li><img src="/assets/l3harris/img/erp-home/cloud_03.png" alt=""></li>
      <li><img src="/assets/l3harris/img/erp-home/cloud_04.png" alt=""></li>
      <li><img src="/assets/l3harris/img/erp-home/cloud_05.png" alt=""></li>
      <li><img src="/assets/l3harris/img/erp-home/cloud_06.png" alt=""></li>
  </ul>
  <div class="erp_shap"></div>
  <div class="erp_shap_two" style="background: url(./img/erp-home/banner_shap.png) no-repeat scroll top left;"></div>
  <div class="section_intro">
      <div class="section_container">
          <div class="intro">
              <div class=" intro_content">
                  <h1>A Cloud ERP software for businesses</h1>
                  <p>A simple and powerful erp software for Manufacturing, Distribution and Services.</p>
                  <a href="/login/#login" class="er_btn er_btn_two">Login</a>
              </div>
          </div>
      </div>
  </div>
  <div class="animation_img wow fadeInUp" data-wow-delay="0.3s">
      <div class="container">
          <!-- <img src="/assets/l3harris/img/erp-home/erp_dashboard.jpg" alt=""> -->
      </div>
  </div>
</section>
<section class="erp_service_area sec_pad">
  <div class="container">
      <div class="hosting_title erp_title text-center">
          <h2>Accessible, Convenient & Manageable</h2>
          <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br> Why gormless, pear shaped.!</p>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pr_70">
                  <img src="/assets/l3harris/img/erp-home/erp_icon1.png" alt="">
                  <a href="#"><h3 class="h_head">Secured Cloud</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pr_70 pl_10">
                  <img src="/assets/l3harris/img/erp-home/erp_icon2.png" alt="">
                  <a href="#"><h3 class="h_head">Single Platform</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pl_70">
                  <img src="/assets/l3harris/img/erp-home/erp_icon3.png" alt="">
                  <a href="#"><h3 class="h_head">Implement Yourself</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pr_70">
                  <img src="/assets/l3harris/img/erp-home/erp_icon4.png" alt="">
                  <a href="#"><h3 class="h_head">Multi Regional</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pl_10">
                  <img src="/assets/l3harris/img/erp-home/erp_icon5.png" alt="">
                  <a href="#"><h3 class="h_head">Quick Navigations</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="erp_service_item pl_70">
                  <img src="/assets/l3harris/img/erp-home/erp_icon6.png" alt="">
                  <a href="#"><h3 class="h_head">Works in Web</h3></a>
                  <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="erp_action_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-3 col-md-4">
              <img src="/assets/l3harris/img/erp-home/action_img.png" alt="">
          </div>
          <div class="col-lg-9 col-md-8">
              <div class="erp_content">
                  <h2>Trusted by <strong>10,030+ Businesses</strong> over 160 Countries and 24+ Languages</h2>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="erp_features_area_two sec_pad">
  <div class="container">
      <div class="row erp_item_features align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="erp_features_img_two">
                  <div class="img_icon"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                  <img src="/assets/l3harris/img/erp-home/crm_img1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="erp_content_two">
                  <div class="hosting_title erp_title">
                      <h2>Nurture Your Customers Using Advanced CRM</h2>
                      <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                  </div>
                  <div class="media erp_item">
                      <div class="icon">
                          <i class="icon_menu-square_alt2"></i>
                      </div>
                      <div class="media-body">
                          <h5>Everybody Gets a Dashboard</h5>
                      </div>
                  </div>
                  <div class="media erp_item">
                      <div class="icon green">
                          <i class="icon_ribbon_alt"></i>
                      </div>
                      <div class="media-body">
                          <h5>Complete Leave Management</h5>
                      </div>
                  </div>
                  <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
              </div>
          </div>
      </div>
      <div class="row erp_item_features align-items-center">
          <div class="col-lg-6">
              <div class="erp_features_img_two">
                  <div class="img_icon red"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                  <img src="/assets/l3harris/img/erp-home/crm_img2.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="erp_content_two">
                  <div class="hosting_title erp_title">
                      <h2>Integrated Project Management System</h2>
                      <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                  </div>
                  <div class="media erp_item">
                      <div class="icon blue">
                          <i class="icon_menu-square_alt2"></i>
                      </div>
                      <div class="media-body">
                          <h5>Everybody Gets a Dashboard</h5>
                      </div>
                  </div>
                  <div class="media erp_item">
                      <div class="icon yellow">
                          <i class="icon_ribbon_alt"></i>
                      </div>
                      <div class="media-body">
                          <h5>Complete Leave Management</h5>
                      </div>
                  </div>
                  <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
              </div>
          </div>
      </div>
      <div class="row erp_item_features align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="erp_features_img_two">
                  <div class="img_icon green"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                  <img src="/assets/l3harris/img/erp-home/crm_img3.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="erp_content_two">
                  <div class="hosting_title erp_title">
                      <h2>Accounting for all The Non-Accountants</h2>
                      <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                  </div>
                  <div class="media erp_item">
                      <div class="icon purple">
                          <i class="icon_menu-square_alt2"></i>
                      </div>
                      <div class="media-body">
                          <h5>Everybody Gets a Dashboard</h5>
                      </div>
                  </div>
                  <div class="media erp_item">
                      <div class="icon green_two">
                          <i class="icon_ribbon_alt"></i>
                      </div>
                      <div class="media-body">
                          <h5>Complete Leave Management</h5>
                      </div>
                  </div>
                  <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="erp_analytics_area">
  <div class="container">
      <div class="hosting_title erp_title text-center">
          <h2>Analytics</h2>
          <p>The full monty burke posh excuse my French Richard cheeky bobby<br> spiffing crikey Why gormless, pear shaped.!</p>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="erp_analytics_item text-center">
                  <img src="/assets/l3harris/img/erp-home/settings1.png" alt="">
                  <p>Quick setup in five simple steps.</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="erp_analytics_item text-center">
                  <img src="/assets/l3harris/img/erp-home/cloud-computing.png" alt="">
                  <p>Complete purchase history</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="erp_analytics_item text-center">
                  <img src="/assets/l3harris/img/erp-home/growth.png" alt="">
                  <p>Signup, No credit  card details required.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="erp_customer_logo_area">
  <div class="container">
      <div class="hosting_title erp_title text-center">
          <h2>Great companies that <span class="icon_heart"></span> SaasLand ERP</h2>
          <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber<br> ummm I'm telling chinwag he lost his bottle nancy boy.</p>
      </div>
      <ul class="list-unstyled animation_inner">
          <li class="wow slideInnew2" data-wow-delay="0.2s"><img src="/assets/l3harris/img/erp-home/img/01.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="0.4s"><img src="/assets/l3harris/img/erp-home/img/02.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="0.6s"><img src="/assets/l3harris/img/erp-home/img/03.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="0.7s"><img src="/assets/l3harris/img/erp-home/img/04.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="0.9s"><img src="/assets/l3harris/img/erp-home/img/05.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1s"><img src="/assets/l3harris/img/erp-home/img/06.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.1s"><img src="/assets/l3harris/img/erp-home/img/07.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.2s"><img src="/assets/l3harris/img/erp-home/img/08.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1s"><img src="/assets/l3harris/img/erp-home/img/09.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.4s"><img src="/assets/l3harris/img/erp-home/img/10.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.5s"><img src="/assets/l3harris/img/erp-home/img/11.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.6s"><img src="/assets/l3harris/img/erp-home/img/12.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.7s"><img src="/assets/l3harris/img/erp-home/img/13.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.8s"><img src="/assets/l3harris/img/erp-home/img/14.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="1.9s"><img src="/assets/l3harris/img/erp-home/img/15.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="2s"><img src="/assets/l3harris/img/erp-home/img/16.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="2.2s"><img src="/assets/l3harris/img/erp-home/img/17.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="2.4s"><img src="/assets/l3harris/img/erp-home/img/18.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="2.6s"><img src="/assets/l3harris/img/erp-home/img/19.png" alt=""></li>
          <li class="wow slideInnew2" data-wow-delay="2.7s"><img src="/assets/l3harris/img/erp-home/img/20.png" alt=""></li>
      </ul>
      <div class="text-center">
          <a href="#" class="er_btn">More Customers</a>
      </div>
  </div>
</section>
<section class="erp_testimonial_area sec_pad">
  <div class="container">
      <div class="hosting_title erp_title text-center">
          <h2>What our customers<br> say about SaasLand ERP</h2>
      </div>
      <div class="row">
          <div class="erp_testimonial_info owl-carousel">
              <div class="erp_testimonial_item">
                  <div class="content">
                      <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                      <div class="ratting">
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                      </div>
                  </div>
                  <div class="media">
                      <img src="/assets/l3harris/img/erp-home/testimonial_img.jpg" alt="">
                      <div class="media-body">
                          <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                          <p>Officer at Samumed</p>
                      </div>
                  </div>
              </div>
              <div class="erp_testimonial_item">
                  <div class="content">
                      <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                      <div class="ratting">
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                      </div>
                  </div>
                  <div class="media">
                      <img src="/assets/l3harris/img/erp-home/testimonial_img2.jpg" alt="">
                      <div class="media-body">
                          <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                          <p>Officer at Samumed</p>
                      </div>
                  </div>
              </div>
              <div class="erp_testimonial_item">
                  <div class="content">
                      <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                      <div class="ratting">
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                          <a href="#"><i class="icon_star"></i></a>
                      </div>
                  </div>
                  <div class="media">
                      <img src="/assets/l3harris/img/erp-home/testimonial_img2.jpg" alt="">
                      <div class="media-body">
                          <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                          <p>Officer at Samumed</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="text-center">
          <a href="#" class="er_btn">Read All The Testimonials</a>
      </div>
  </div>
</section>
<section class="erp_call_action_area">
  <div class="container">
      <div class="erp_action_content text-center">
          <img src="/assets/l3harris/img/erp-home/rocket.png" alt="">
          <h3>Experience a smarter way to close deals</h3>
          <p>With All-in-one<span>Business</span>Manager</p>
          <a href="#" class="er_btn er_btn_two">Get Started Free</a>
      </div>
  </div>
</section>

{% endblock %}
