<footer class="footer_area h_footer_dark h_footer_dark_two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="f_widget dark_widget company_widget">
                    <a href="/" class="f_p  f_600 f_size_24 mb_40">
                        L3Harris
                    </a>
                    <p>
                        {% if footer_address %}
                            {{ footer_address }}
                        {% endif %} 
                    </p>
                    <div class="f_social_icon">
                        <a href="#" class="ti-facebook"></a>
                        <a href="#" class="ti-twitter-alt"></a>
                        <a href="#" class="ti-vimeo-alt"></a>
                        <a href="#" class="ti-pinterest"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="f_widget dark_widget about-widget pl_70">
                    <h3 class="f-title f_500 t_color f_size_18 mb_40">Links</h3>
                    {% if footer_items -%}
					<div class="">
						{% include "templates/includes/footer/footer_items.html" %}
					</div>
					{% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="f_widget dark_widget about-widget pl_20">
                    {% block extension %}
						{% include "templates/includes/footer/footer_extension.html" %}
					{% endblock %}
                </div>
            </div>
        </div>

        <div class="row footer-bottom-line mt-5">
            <div class="text-muted small col-sm-12 col-12 text-right footer-powered">
                {% if copyright %}
                    &copy; {{ copyright }}
                {% endif %}
                {% block powered %}
                    {% include "templates/includes/footer/footer_powered.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</footer>